-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: hrms
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `announcement`
--

DROP TABLE IF EXISTS `announcement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcement` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `announcement` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `dates` json DEFAULT NULL,
  `target_employee_ids` json DEFAULT NULL,
  `telegram_message_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_announcement_company` (`company_id`),
  CONSTRAINT `announcement_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcement`
--

LOCK TABLES `announcement` WRITE;
/*!40000 ALTER TABLE `announcement` DISABLE KEYS */;
INSERT INTO `announcement` VALUES (4,3,'Meeting with boss ≡ƒæ¿ΓÇì≡ƒÆ╗','Dear everyone, tomorrow we will have meeting with our boss at meeting room. so please be prepared.','2026-06-23 16:51:13','2026-06-23 16:51:13','[\"2026-06-24\"]','[2, 3, 5, 6, 7, 8, 9]',90),(5,3,'meeting with boss','hello tomorrow we will have meeting with boss.','2026-06-24 11:02:17','2026-06-24 11:02:17','[\"2026-06-25\"]','null',104),(6,3,'test','test','2026-06-24 11:17:47','2026-06-24 11:17:47','[\"2026-06-25\"]','null',105),(7,3,'tes','tes','2026-06-24 11:39:19','2026-06-24 11:39:19','null','[5]',108);
/*!40000 ALTER TABLE `announcement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asset`
--

DROP TABLE IF EXISTS `asset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `category_id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `serial_number` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `condition` enum('good','fair','damaged') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'good',
  `status` enum('available','pending_manager','pending_hr','assigned','under_repair','retired') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'available',
  `assigned_to` int DEFAULT NULL,
  `assigned_date` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_asset_company` (`company_id`),
  KEY `idx_asset_category` (`category_id`),
  KEY `idx_asset_employee` (`assigned_to`),
  CONSTRAINT `asset_assigned_to_fkey` FOREIGN KEY (`assigned_to`) REFERENCES `employee` (`id`) ON DELETE SET NULL,
  CONSTRAINT `asset_category_id_fkey` FOREIGN KEY (`category_id`) REFERENCES `assetcategory` (`id`) ON DELETE CASCADE,
  CONSTRAINT `asset_company_id_fkey` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset`
--

LOCK TABLES `asset` WRITE;
/*!40000 ALTER TABLE `asset` DISABLE KEYS */;
INSERT INTO `asset` VALUES (1,3,1,'Macbook M4','BY_001','good','assigned',5,'2026-06-17 01:48:14','2026-06-17 01:47:55','2026-06-17 01:47:55'),(2,3,2,'Logitic Mouse','BY_0002','good','assigned',5,'2026-06-17 07:57:47','2026-06-17 01:48:51','2026-06-17 01:48:51');
/*!40000 ALTER TABLE `asset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assetcategory`
--

DROP TABLE IF EXISTS `assetcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assetcategory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_assetcategory_company` (`company_id`),
  CONSTRAINT `assetcategory_company_id_fkey` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assetcategory`
--

LOCK TABLES `assetcategory` WRITE;
/*!40000 ALTER TABLE `assetcategory` DISABLE KEYS */;
INSERT INTO `assetcategory` VALUES (1,3,'Laptop','','2026-06-17 01:46:22','2026-06-17 01:46:22'),(2,3,'Mouse','','2026-06-17 01:46:27','2026-06-17 01:46:27'),(3,3,'Phone','','2026-06-17 01:46:31','2026-06-17 01:46:31'),(4,3,'Chair','','2026-06-17 01:46:38','2026-06-17 01:46:38'),(5,3,'Keyboard','','2026-06-17 01:46:44','2026-06-17 01:46:44');
/*!40000 ALTER TABLE `assetcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assethistory`
--

DROP TABLE IF EXISTS `assethistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assethistory` (
  `id` int NOT NULL AUTO_INCREMENT,
  `asset_id` int NOT NULL,
  `company_id` int NOT NULL,
  `previous_assignee_id` int NOT NULL,
  `condition_out` enum('good','fair','damaged') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `condition_in` enum('good','fair','damaged') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `assigned_date` datetime NOT NULL,
  `returned_date` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_assethistory_asset` (`asset_id`),
  KEY `idx_assethistory_employee` (`previous_assignee_id`),
  KEY `assethistory_company_id_fkey` (`company_id`),
  CONSTRAINT `assethistory_asset_id_fkey` FOREIGN KEY (`asset_id`) REFERENCES `asset` (`id`) ON DELETE CASCADE,
  CONSTRAINT `assethistory_company_id_fkey` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE,
  CONSTRAINT `assethistory_previous_assignee_id_fkey` FOREIGN KEY (`previous_assignee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assethistory`
--

LOCK TABLES `assethistory` WRITE;
/*!40000 ALTER TABLE `assethistory` DISABLE KEYS */;
INSERT INTO `assethistory` VALUES (1,1,3,5,'good',NULL,'2026-06-17 01:48:15',NULL,'2026-06-17 01:48:15'),(2,2,3,5,'good',NULL,'2026-06-17 07:57:47',NULL,'2026-06-17 07:57:47');
/*!40000 ALTER TABLE `assethistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assetrequest`
--

DROP TABLE IF EXISTS `assetrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `assetrequest` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `requested_by` int NOT NULL,
  `category_id` int DEFAULT NULL,
  `asset_id` int DEFAULT NULL,
  `type` enum('assignment','return') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'assignment',
  `reason` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `status` enum('available','pending_manager','pending_hr','assigned','under_repair','retired') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending_manager',
  `manager_id` int DEFAULT NULL,
  `manager_comment` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `hr_comment` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_assetrequest_company` (`company_id`),
  KEY `idx_assetrequest_employee` (`requested_by`),
  KEY `assetrequest_manager_id_fkey` (`manager_id`),
  KEY `assetrequest_category_id_fkey` (`category_id`),
  KEY `assetrequest_asset_id_fkey` (`asset_id`),
  CONSTRAINT `assetrequest_asset_id_fkey` FOREIGN KEY (`asset_id`) REFERENCES `asset` (`id`) ON DELETE SET NULL,
  CONSTRAINT `assetrequest_category_id_fkey` FOREIGN KEY (`category_id`) REFERENCES `assetcategory` (`id`) ON DELETE SET NULL,
  CONSTRAINT `assetrequest_company_id_fkey` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE,
  CONSTRAINT `assetrequest_manager_id_fkey` FOREIGN KEY (`manager_id`) REFERENCES `employee` (`id`) ON DELETE SET NULL,
  CONSTRAINT `assetrequest_requested_by_fkey` FOREIGN KEY (`requested_by`) REFERENCES `employee` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assetrequest`
--

LOCK TABLES `assetrequest` WRITE;
/*!40000 ALTER TABLE `assetrequest` DISABLE KEYS */;
INSERT INTO `assetrequest` VALUES (1,3,5,2,2,'assignment','Testing \n\n','assigned',6,NULL,'test','2026-06-17 02:14:47','2026-06-17 02:14:47');
/*!40000 ALTER TABLE `assetrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `attendancerecord`
--

DROP TABLE IF EXISTS `attendancerecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `attendancerecord` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `time_mode_id` int NOT NULL,
  `status` enum('present','absent','late','half_day') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'FINGER',
  `work_at` datetime NOT NULL,
  `is_late` tinyint(1) DEFAULT '0',
  `is_early` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_attendance_employee` (`employee_id`),
  KEY `idx_attendance_status` (`status`),
  KEY `idx_attendance_timemode` (`time_mode_id`),
  KEY `idx_attendance_work_at` (`work_at`),
  CONSTRAINT `attendancerecord_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE,
  CONSTRAINT `attendancerecord_ibfk_2` FOREIGN KEY (`time_mode_id`) REFERENCES `timemode` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendancerecord`
--

LOCK TABLES `attendancerecord` WRITE;
/*!40000 ALTER TABLE `attendancerecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `attendancerecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditlog`
--

DROP TABLE IF EXISTS `auditlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditlog` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `company_id` int NOT NULL,
  `module` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `action` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ip_address` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_audit_company` (`company_id`),
  KEY `idx_audit_created` (`created_at`),
  KEY `idx_audit_module` (`module`),
  KEY `idx_audit_user` (`user_id`),
  CONSTRAINT `auditlog_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`) ON DELETE SET NULL,
  CONSTRAINT `auditlog_ibfk_2` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=160 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditlog`
--

LOCK TABLES `auditlog` WRITE;
/*!40000 ALTER TABLE `auditlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `company`
--

DROP TABLE IF EXISTS `company`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `company` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `phone` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `primary_color` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `secondary_color` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `logo_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telegram_group_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telegram_bot_token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `telegram_announcement_group_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telegram_attendance_group_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telegram_leave_group_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telegram_overtime_group_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_company_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `company`
--

LOCK TABLES `company` WRITE;
/*!40000 ALTER TABLE `company` DISABLE KEYS */;
INSERT INTO `company` VALUES (3,'Bayon Market','1234567890','Bayon@gmail.com','#D52E32','#424678','/uploads/logos/1782282038438_photo_2023-07-31_14-32-24.jpg','-5104329689','8996746206:AAFfkD_dKMKpcq6ZIlmplHU4_GrgP0q3liQ','2026-06-10 06:02:26','2026-06-10 06:02:26','-5306918433','-5104329689','-5436748554','-5583281932');
/*!40000 ALTER TABLE `company` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dayofweek`
--

DROP TABLE IF EXISTS `dayofweek`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dayofweek` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_default` tinyint(1) DEFAULT '0',
  `monday_id` int DEFAULT NULL,
  `tuesday_id` int DEFAULT NULL,
  `wednesday_id` int DEFAULT NULL,
  `thursday_id` int DEFAULT NULL,
  `friday_id` int DEFAULT NULL,
  `saturday_id` int DEFAULT NULL,
  `sunday_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_dayofweek_company` (`company_id`),
  KEY `dayofweek_monday_id_fkey` (`monday_id`),
  KEY `dayofweek_tuesday_id_fkey` (`tuesday_id`),
  KEY `dayofweek_wednesday_id_fkey` (`wednesday_id`),
  KEY `dayofweek_thursday_id_fkey` (`thursday_id`),
  KEY `dayofweek_friday_id_fkey` (`friday_id`),
  KEY `dayofweek_saturday_id_fkey` (`saturday_id`),
  KEY `dayofweek_sunday_id_fkey` (`sunday_id`),
  CONSTRAINT `dayofweek_friday_id_fkey` FOREIGN KEY (`friday_id`) REFERENCES `timesheet` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dayofweek_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dayofweek_monday_id_fkey` FOREIGN KEY (`monday_id`) REFERENCES `timesheet` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dayofweek_saturday_id_fkey` FOREIGN KEY (`saturday_id`) REFERENCES `timesheet` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dayofweek_sunday_id_fkey` FOREIGN KEY (`sunday_id`) REFERENCES `timesheet` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dayofweek_thursday_id_fkey` FOREIGN KEY (`thursday_id`) REFERENCES `timesheet` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dayofweek_tuesday_id_fkey` FOREIGN KEY (`tuesday_id`) REFERENCES `timesheet` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dayofweek_wednesday_id_fkey` FOREIGN KEY (`wednesday_id`) REFERENCES `timesheet` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dayofweek`
--

LOCK TABLES `dayofweek` WRITE;
/*!40000 ALTER TABLE `dayofweek` DISABLE KEYS */;
INSERT INTO `dayofweek` VALUES (1,3,'Normal_Employee','ne_001',1,1,1,1,1,1,1,NULL,'2026-06-10 08:49:10','2026-06-10 08:49:10');
/*!40000 ALTER TABLE `dayofweek` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `manager_id` int DEFAULT NULL,
  `company_id` int NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_department_company` (`company_id`),
  KEY `idx_department_manager` (`manager_id`),
  CONSTRAINT `department_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_department_manager` FOREIGN KEY (`manager_id`) REFERENCES `employee` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department`
--

LOCK TABLES `department` WRITE;
/*!40000 ALTER TABLE `department` DISABLE KEYS */;
INSERT INTO `department` VALUES (3,'System Development',6,3,0,'2026-06-10 06:02:26','2026-06-10 06:02:26'),(4,'Human Resources',3,3,1,'2026-06-10 06:06:08','2026-06-10 06:06:08'),(5,'Store Operations',5,3,1,'2026-06-18 10:26:09','2026-06-18 10:26:09'),(6,'Warehouse & Inventory',6,3,1,'2026-06-18 10:26:18','2026-06-18 10:26:18'),(7,'Accounting & Finance',8,3,1,'2026-06-18 10:26:27','2026-06-18 10:26:27');
/*!40000 ALTER TABLE `department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document`
--

DROP TABLE IF EXISTS `document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `document_type_id` int NOT NULL,
  `document_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `uploaded_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_document_employee` (`employee_id`),
  KEY `idx_document_type` (`document_type_id`),
  CONSTRAINT `document_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE,
  CONSTRAINT `document_ibfk_2` FOREIGN KEY (`document_type_id`) REFERENCES `documenttype` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document`
--

LOCK TABLES `document` WRITE;
/*!40000 ALTER TABLE `document` DISABLE KEYS */;
INSERT INTO `document` VALUES (4,6,2,'/uploads/documents/1782292207552_Screenshot 2026-05-29 110728.png','2026-06-24 09:10:08','2026-06-24 09:10:08');
/*!40000 ALTER TABLE `document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documenttype`
--

DROP TABLE IF EXISTS `documenttype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documenttype` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_doctype_company` (`company_id`),
  CONSTRAINT `documenttype_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documenttype`
--

LOCK TABLES `documenttype` WRITE;
/*!40000 ALTER TABLE `documenttype` DISABLE KEYS */;
INSERT INTO `documenttype` VALUES (1,'Passport',3,'2026-06-10 11:34:58','2026-06-10 11:34:58'),(2,'Card Id',3,'2026-06-10 11:35:06','2026-06-10 11:35:06');
/*!40000 ALTER TABLE `documenttype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee`
--

DROP TABLE IF EXISTS `employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employee` (
  `id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `age` int DEFAULT NULL,
  `gender` enum('male','female','other') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'other',
  `phone_number1` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone_number2` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `profile_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `position_id` int DEFAULT NULL,
  `department_id` int DEFAULT NULL,
  `role_id` int DEFAULT NULL,
  `location_id` int DEFAULT NULL,
  `telegram_username` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telegram_chat_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `joined_at` datetime DEFAULT NULL,
  `company_id` int NOT NULL,
  `is_active` enum('active','inactive') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `relationship_status` enum('single','married','divorced','widowed','other') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'single',
  `partner_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `partner_age` int DEFAULT NULL,
  `partner_occupation` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `total_children` int DEFAULT '0',
  `total_daughters` int DEFAULT '0',
  `total_sons` int DEFAULT '0',
  `female_sibling` int DEFAULT '0',
  `total_sibling` int DEFAULT '0',
  `father_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `father_age` int DEFAULT NULL,
  `father_occupation` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `father_life_status` enum('alive','deceased') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'alive',
  `mother_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mother_age` int DEFAULT NULL,
  `mother_occupation` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mother_life_status` enum('alive','deceased') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'alive',
  `guardian_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `guardian_phone_number` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `guardian_relationship` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `base_salary` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_employee_active` (`is_active`),
  KEY `idx_employee_company` (`company_id`),
  KEY `idx_employee_department` (`department_id`),
  KEY `idx_employee_location` (`location_id`),
  KEY `idx_employee_name` (`first_name`,`last_name`),
  KEY `idx_employee_position` (`position_id`),
  KEY `idx_employee_relationship` (`relationship_status`),
  KEY `role_id` (`role_id`),
  CONSTRAINT `employee_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employee_ibfk_2` FOREIGN KEY (`position_id`) REFERENCES `positions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `employee_ibfk_3` FOREIGN KEY (`department_id`) REFERENCES `department` (`id`) ON DELETE SET NULL,
  CONSTRAINT `employee_ibfk_4` FOREIGN KEY (`role_id`) REFERENCES `role` (`id`) ON DELETE SET NULL,
  CONSTRAINT `employee_ibfk_5` FOREIGN KEY (`location_id`) REFERENCES `location` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee`
--

LOCK TABLES `employee` WRITE;
/*!40000 ALTER TABLE `employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employeekpi`
--

DROP TABLE IF EXISTS `employeekpi`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employeekpi` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `cycle_id` int NOT NULL,
  `total_score` double DEFAULT NULL,
  `rating` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `evaluation_status` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending_manager',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_employee_cycle` (`employee_id`,`cycle_id`),
  KEY `idx_employeekpi_employee` (`employee_id`),
  KEY `idx_employeekpi_cycle` (`cycle_id`),
  CONSTRAINT `employeekpi_cycle_id_fkey` FOREIGN KEY (`cycle_id`) REFERENCES `kpicycle` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employeekpi_employee_id_fkey` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employeekpi`
--

LOCK TABLES `employeekpi` WRITE;
/*!40000 ALTER TABLE `employeekpi` DISABLE KEYS */;
INSERT INTO `employeekpi` VALUES (1,5,1,92,NULL,'active','2026-06-16 04:51:33','2026-06-16 04:51:33','completed'),(2,6,1,NULL,NULL,'active','2026-06-16 04:51:33','2026-06-16 04:51:33','pending_manager'),(9,2,1,NULL,NULL,'active','2026-06-17 00:52:48','2026-06-17 00:52:48','pending_manager'),(10,3,1,NULL,NULL,'active','2026-06-17 00:52:48','2026-06-17 00:52:48','pending_manager');
/*!40000 ALTER TABLE `employeekpi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employeelocation`
--

DROP TABLE IF EXISTS `employeelocation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employeelocation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `location_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_employee_location` (`employee_id`,`location_id`),
  KEY `idx_employeelocation_employee` (`employee_id`),
  KEY `idx_employeelocation_location` (`location_id`),
  CONSTRAINT `employeelocation_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employeelocation_ibfk_2` FOREIGN KEY (`location_id`) REFERENCES `location` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employeelocation`
--

LOCK TABLES `employeelocation` WRITE;
/*!40000 ALTER TABLE `employeelocation` DISABLE KEYS */;
INSERT INTO `employeelocation` VALUES (2,5,4,'2026-06-18 08:28:44','2026-06-18 08:28:44');
/*!40000 ALTER TABLE `employeelocation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employeeworkingprofile`
--

DROP TABLE IF EXISTS `employeeworkingprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `employeeworkingprofile` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `day_of_week_id` int NOT NULL,
  `allow_online_bypass_location` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_employee_working_profile` (`employee_id`),
  KEY `idx_employeeworkingprofile_employee` (`employee_id`),
  KEY `idx_employeeworkingprofile_dayofweek` (`day_of_week_id`),
  CONSTRAINT `employeeworkingprofile_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employeeworkingprofile_ibfk_2` FOREIGN KEY (`day_of_week_id`) REFERENCES `dayofweek` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employeeworkingprofile`
--

LOCK TABLES `employeeworkingprofile` WRITE;
/*!40000 ALTER TABLE `employeeworkingprofile` DISABLE KEYS */;
INSERT INTO `employeeworkingprofile` VALUES (1,3,1,0,'2026-06-10 08:49:21','2026-06-10 08:49:21'),(3,5,1,0,'2026-06-10 08:49:36','2026-06-10 08:49:36');
/*!40000 ALTER TABLE `employeeworkingprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `holiday`
--

DROP TABLE IF EXISTS `holiday`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `holiday` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_date` datetime NOT NULL,
  `end_date` datetime NOT NULL,
  `company_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_holiday_company` (`company_id`),
  KEY `idx_holiday_dates` (`start_date`,`end_date`),
  CONSTRAINT `holiday_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `holiday`
--

LOCK TABLES `holiday` WRITE;
/*!40000 ALTER TABLE `holiday` DISABLE KEYS */;
INSERT INTO `holiday` VALUES (1,'testing','2026-06-14 00:00:00','2026-06-14 00:00:00',3,'2026-06-12 18:06:16','2026-06-12 18:06:16');
/*!40000 ALTER TABLE `holiday` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpicycle`
--

DROP TABLE IF EXISTS `kpicycle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpicycle` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_date` datetime NOT NULL,
  `end_date` datetime NOT NULL,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_kpicycle_company` (`company_id`),
  CONSTRAINT `kpicycle_company_id_fkey` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpicycle`
--

LOCK TABLES `kpicycle` WRITE;
/*!40000 ALTER TABLE `kpicycle` DISABLE KEYS */;
INSERT INTO `kpicycle` VALUES (1,3,'2026 Annual Performance Cycle','2026-01-01 00:00:00','2026-12-31 23:59:59','active','2026-06-16 04:51:32','2026-06-16 04:51:32');
/*!40000 ALTER TABLE `kpicycle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpigoal`
--

DROP TABLE IF EXISTS `kpigoal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpigoal` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_kpi_id` int NOT NULL,
  `category` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_value` double NOT NULL,
  `target_unit` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `weight` double NOT NULL,
  `current_progress` double NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `hr_score` double NOT NULL DEFAULT '0',
  `manager_score` double NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_kpigoal_employeekpi` (`employee_kpi_id`),
  CONSTRAINT `kpigoal_employee_kpi_id_fkey` FOREIGN KEY (`employee_kpi_id`) REFERENCES `employeekpi` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpigoal`
--

LOCK TABLES `kpigoal` WRITE;
/*!40000 ALTER TABLE `kpigoal` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpigoal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpigoalprogress`
--

DROP TABLE IF EXISTS `kpigoalprogress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpigoalprogress` (
  `id` int NOT NULL AUTO_INCREMENT,
  `review_id` int NOT NULL,
  `kpi_goal_id` int NOT NULL,
  `progress_percentage` double NOT NULL,
  `manager_comment` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `employee_comment` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_review_goal` (`review_id`,`kpi_goal_id`),
  KEY `idx_kpigoalprogress_review` (`review_id`),
  KEY `idx_kpigoalprogress_goal` (`kpi_goal_id`),
  CONSTRAINT `kpigoalprogress_kpi_goal_id_fkey` FOREIGN KEY (`kpi_goal_id`) REFERENCES `kpigoal` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kpigoalprogress_review_id_fkey` FOREIGN KEY (`review_id`) REFERENCES `kpireview` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpigoalprogress`
--

LOCK TABLES `kpigoalprogress` WRITE;
/*!40000 ALTER TABLE `kpigoalprogress` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpigoalprogress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpireview`
--

DROP TABLE IF EXISTS `kpireview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpireview` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_kpi_id` int NOT NULL,
  `reviewer_id` int NOT NULL,
  `quarter` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `overall_manager_comment` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `overall_employee_comment` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `review_date` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_employee_kpi_quarter` (`employee_kpi_id`,`quarter`),
  KEY `idx_kpireview_employeekpi` (`employee_kpi_id`),
  KEY `idx_kpireview_reviewer` (`reviewer_id`),
  CONSTRAINT `kpireview_employee_kpi_id_fkey` FOREIGN KEY (`employee_kpi_id`) REFERENCES `employeekpi` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kpireview_reviewer_id_fkey` FOREIGN KEY (`reviewer_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpireview`
--

LOCK TABLES `kpireview` WRITE;
/*!40000 ALTER TABLE `kpireview` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpireview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpitemplate`
--

DROP TABLE IF EXISTS `kpitemplate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpitemplate` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_kpitemplate_company` (`company_id`),
  CONSTRAINT `kpitemplate_company_id_fkey` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpitemplate`
--

LOCK TABLES `kpitemplate` WRITE;
/*!40000 ALTER TABLE `kpitemplate` DISABLE KEYS */;
INSERT INTO `kpitemplate` VALUES (1,3,'Software Engineer KPI Template','Standard KPI for all software engineering roles','2026-06-16 04:51:33','2026-06-16 04:51:33');
/*!40000 ALTER TABLE `kpitemplate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpitemplategoal`
--

DROP TABLE IF EXISTS `kpitemplategoal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpitemplategoal` (
  `id` int NOT NULL AUTO_INCREMENT,
  `template_id` int NOT NULL,
  `category` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_value` double NOT NULL,
  `target_unit` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `weight` double NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_kpitemplategoal_template` (`template_id`),
  CONSTRAINT `kpitemplategoal_template_id_fkey` FOREIGN KEY (`template_id`) REFERENCES `kpitemplate` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpitemplategoal`
--

LOCK TABLES `kpitemplategoal` WRITE;
/*!40000 ALTER TABLE `kpitemplategoal` DISABLE KEYS */;
INSERT INTO `kpitemplategoal` VALUES (1,1,'Attendance','Maintain 98% Attendance',98,'%',20,'2026-06-16 04:51:33','2026-06-16 04:51:33'),(2,1,'Performance','Task Completion Rate',100,'%',40,'2026-06-16 04:51:33','2026-06-16 04:51:33'),(3,1,'Teamwork','Peer Review Score',5,'rating',20,'2026-06-16 04:51:33','2026-06-16 04:51:33'),(4,1,'Professionalism','No Disciplinary Actions',100,'%',20,'2026-06-16 04:51:33','2026-06-16 04:51:33');
/*!40000 ALTER TABLE `kpitemplategoal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leaveprofile`
--

DROP TABLE IF EXISTS `leaveprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leaveprofile` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `leave_type_id` int NOT NULL,
  `assignment` int DEFAULT '0',
  `used` int DEFAULT '0',
  `balance` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_employee_leavetype` (`employee_id`,`leave_type_id`),
  KEY `idx_leaveprofile_employee` (`employee_id`),
  KEY `idx_leaveprofile_leavetype` (`leave_type_id`),
  CONSTRAINT `leaveprofile_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE,
  CONSTRAINT `leaveprofile_ibfk_2` FOREIGN KEY (`leave_type_id`) REFERENCES `leavetype` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leaveprofile`
--

LOCK TABLES `leaveprofile` WRITE;
/*!40000 ALTER TABLE `leaveprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `leaveprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leaverecord`
--

DROP TABLE IF EXISTS `leaverecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leaverecord` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `leave_type_id` int NOT NULL,
  `start_date` datetime NOT NULL,
  `end_date` datetime NOT NULL,
  `reason` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `status` enum('pending','approved','rejected') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `approved_by` int DEFAULT NULL,
  `request_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `photo_path` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telegram_message_id` int DEFAULT NULL,
  `manager_telegram_username` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telegram_chat_id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `approved_by` (`approved_by`),
  KEY `idx_leaverecord_dates` (`start_date`,`end_date`),
  KEY `idx_leaverecord_employee` (`employee_id`),
  KEY `idx_leaverecord_status` (`status`),
  KEY `leave_type_id` (`leave_type_id`),
  CONSTRAINT `leaverecord_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE,
  CONSTRAINT `leaverecord_ibfk_2` FOREIGN KEY (`leave_type_id`) REFERENCES `leavetype` (`id`) ON DELETE CASCADE,
  CONSTRAINT `leaverecord_ibfk_3` FOREIGN KEY (`approved_by`) REFERENCES `employee` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leaverecord`
--

LOCK TABLES `leaverecord` WRITE;
/*!40000 ALTER TABLE `leaverecord` DISABLE KEYS */;
/*!40000 ALTER TABLE `leaverecord` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leavetype`
--

DROP TABLE IF EXISTS `leavetype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `leavetype` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `default_balance` int NOT NULL DEFAULT '0',
  `company_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_leavetype_company` (`company_id`),
  CONSTRAINT `leavetype_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leavetype`
--

LOCK TABLES `leavetype` WRITE;
/*!40000 ALTER TABLE `leavetype` DISABLE KEYS */;
INSERT INTO `leavetype` VALUES (1,'Annual Leave','AL',10,3,'2026-06-10 06:02:26','2026-06-10 06:02:26'),(2,'Sick Leave','SL',5,3,'2026-06-10 06:02:26','2026-06-10 06:02:26'),(3,'Maternity Leave','ML',90,3,'2026-06-10 06:02:26','2026-06-10 06:02:26'),(4,'Unpaid Leave','UP',0,3,'2026-06-10 06:19:16','2026-06-10 06:19:16'),(5,'Special Leave','SPL',7,3,'2026-06-10 08:50:32','2026-06-10 08:50:32');
/*!40000 ALTER TABLE `leavetype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `location`
--

DROP TABLE IF EXISTS `location`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `location` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_id` int NOT NULL,
  `longitude` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latitude` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `radius` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_location_company` (`company_id`),
  CONSTRAINT `location_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `location`
--

LOCK TABLES `location` WRITE;
/*!40000 ALTER TABLE `location` DISABLE KEYS */;
INSERT INTO `location` VALUES (3,'Norton University',3,'104.93016341054185','11.588289461098544',300,'2026-06-10 06:02:26','2026-06-10 06:02:26'),(4,'Warehouse',3,'104.97648830840801','11.585826356100641',400,'2026-06-18 08:28:24','2026-06-18 08:28:24');
/*!40000 ALTER TABLE `location` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `body` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `to_user_id` int DEFAULT NULL,
  `reference_id` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `is_read` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_notification_company` (`company_id`),
  KEY `idx_notification_user` (`to_user_id`),
  CONSTRAINT `notification_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notification_ibfk_2` FOREIGN KEY (`to_user_id`) REFERENCES `user` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `onlineattendance`
--

DROP TABLE IF EXISTS `onlineattendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `onlineattendance` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `photo_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remark` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `latitude` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `longitude` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `has_activity` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_onlineattendance_employee` (`employee_id`),
  KEY `idx_onlineattendance_created` (`created_at`),
  CONSTRAINT `onlineattendance_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `onlineattendance`
--

LOCK TABLES `onlineattendance` WRITE;
/*!40000 ALTER TABLE `onlineattendance` DISABLE KEYS */;
/*!40000 ALTER TABLE `onlineattendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `onlineattendancepending`
--

DROP TABLE IF EXISTS `onlineattendancepending`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `onlineattendancepending` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `employee_id` int NOT NULL,
  `online_id` int NOT NULL,
  `time_mode_id` int DEFAULT NULL,
  `photo_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remark` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `latitude` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `longitude` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `has_activity` tinyint(1) NOT NULL DEFAULT '0',
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `telegram_message_id` int DEFAULT NULL,
  `manager_telegram_username` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `computed_meta` json DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_pending_status` (`status`),
  KEY `idx_pending_company` (`company_id`),
  KEY `idx_pending_employee` (`employee_id`),
  CONSTRAINT `onlineattendancepending_employee_id_fkey` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `onlineattendancepending`
--

LOCK TABLES `onlineattendancepending` WRITE;
/*!40000 ALTER TABLE `onlineattendancepending` DISABLE KEYS */;
/*!40000 ALTER TABLE `onlineattendancepending` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `overtime`
--

DROP TABLE IF EXISTS `overtime`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `overtime` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int NOT NULL,
  `start_date` datetime NOT NULL,
  `end_date` datetime NOT NULL,
  `reason` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `status` enum('pending','approved','rejected') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `approved_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `telegram_chat_id` int DEFAULT NULL,
  `telegram_message_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `approved_by` (`approved_by`),
  KEY `idx_overtime_dates` (`start_date`,`end_date`),
  KEY `idx_overtime_employee` (`employee_id`),
  KEY `idx_overtime_status` (`status`),
  CONSTRAINT `overtime_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE,
  CONSTRAINT `overtime_ibfk_2` FOREIGN KEY (`approved_by`) REFERENCES `employee` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `overtime`
--

LOCK TABLES `overtime` WRITE;
/*!40000 ALTER TABLE `overtime` DISABLE KEYS */;
/*!40000 ALTER TABLE `overtime` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll`
--

DROP TABLE IF EXISTS `payroll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payroll` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `payroll_period_id` int NOT NULL,
  `employee_id` int NOT NULL,
  `base_salary` decimal(12,2) NOT NULL DEFAULT '0.00',
  `allowance` decimal(12,2) NOT NULL DEFAULT '0.00',
  `overtime` decimal(12,2) NOT NULL DEFAULT '0.00',
  `bonus` decimal(12,2) NOT NULL DEFAULT '0.00',
  `deduction` decimal(12,2) NOT NULL DEFAULT '0.00',
  `tax` decimal(12,2) NOT NULL DEFAULT '0.00',
  `gross_salary` decimal(12,2) NOT NULL DEFAULT '0.00',
  `net_salary` decimal(12,2) NOT NULL DEFAULT '0.00',
  `status` enum('draft','generated','approved','paid') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `payslip_path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_payroll_period_employee` (`payroll_period_id`,`employee_id`),
  KEY `idx_payroll_company_period` (`company_id`,`payroll_period_id`),
  KEY `idx_payroll_employee` (`employee_id`),
  KEY `idx_payroll_status` (`status`),
  CONSTRAINT `payroll_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payroll_ibfk_2` FOREIGN KEY (`payroll_period_id`) REFERENCES `payrollperiod` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payroll_ibfk_3` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll`
--

LOCK TABLES `payroll` WRITE;
/*!40000 ALTER TABLE `payroll` DISABLE KEYS */;
/*!40000 ALTER TABLE `payroll` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payrolladjustment`
--

DROP TABLE IF EXISTS `payrolladjustment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payrolladjustment` (
  `id` int NOT NULL AUTO_INCREMENT,
  `payroll_id` int NOT NULL,
  `field` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `old_value` decimal(12,2) DEFAULT NULL,
  `new_value` decimal(12,2) DEFAULT NULL,
  `reason` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `adjusted_by` int DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_payrolladjustment_payroll` (`payroll_id`),
  KEY `idx_payrolladjustment_user` (`adjusted_by`),
  CONSTRAINT `payrolladjustment_ibfk_1` FOREIGN KEY (`payroll_id`) REFERENCES `payroll` (`id`) ON DELETE CASCADE,
  CONSTRAINT `payrolladjustment_ibfk_2` FOREIGN KEY (`adjusted_by`) REFERENCES `user` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payrolladjustment`
--

LOCK TABLES `payrolladjustment` WRITE;
/*!40000 ALTER TABLE `payrolladjustment` DISABLE KEYS */;
INSERT INTO `payrolladjustment` VALUES (1,19,'base_salary',600.00,300.00,'Synced base salary from employee profile',1,'2026-06-16 06:28:29'),(2,20,'base_salary',600.00,700.00,'Bulk synced base salary from employee profile',1,'2026-06-16 06:34:38'),(3,1,'test',NULL,0.00,'test',1,'2026-06-16 16:20:57');
/*!40000 ALTER TABLE `payrolladjustment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payrollitem`
--

DROP TABLE IF EXISTS `payrollitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payrollitem` (
  `id` int NOT NULL AUTO_INCREMENT,
  `payroll_id` int NOT NULL,
  `type` enum('base_salary','allowance','overtime','bonus','deduction','tax') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `label` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_payrollitem_payroll` (`payroll_id`),
  KEY `idx_payrollitem_type` (`type`),
  CONSTRAINT `payrollitem_ibfk_1` FOREIGN KEY (`payroll_id`) REFERENCES `payroll` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=122 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payrollitem`
--

LOCK TABLES `payrollitem` WRITE;
/*!40000 ALTER TABLE `payrollitem` DISABLE KEYS */;
/*!40000 ALTER TABLE `payrollitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payrollperiod`
--

DROP TABLE IF EXISTS `payrollperiod`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payrollperiod` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `start_date` datetime NOT NULL,
  `end_date` datetime NOT NULL,
  `pay_date` datetime NOT NULL,
  `status` enum('draft','generated','approved','paid') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_payrollperiod_company` (`company_id`),
  KEY `idx_payrollperiod_pay_date` (`pay_date`),
  KEY `idx_payrollperiod_status` (`status`),
  CONSTRAINT `payrollperiod_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payrollperiod`
--

LOCK TABLES `payrollperiod` WRITE;
/*!40000 ALTER TABLE `payrollperiod` DISABLE KEYS */;
/*!40000 ALTER TABLE `payrollperiod` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `positions`
--

DROP TABLE IF EXISTS `positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `positions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `department_id` int DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_position_department` (`department_id`),
  CONSTRAINT `fk_position_department` FOREIGN KEY (`department_id`) REFERENCES `department` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `positions`
--

LOCK TABLES `positions` WRITE;
/*!40000 ALTER TABLE `positions` DISABLE KEYS */;
/*!40000 ALTER TABLE `positions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role`
--

DROP TABLE IF EXISTS `role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_role_company` (`name`,`company_id`),
  KEY `idx_role_company` (`company_id`),
  CONSTRAINT `role_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role`
--

LOCK TABLES `role` WRITE;
/*!40000 ALTER TABLE `role` DISABLE KEYS */;
INSERT INTO `role` VALUES (2,'Admin',3,'2026-06-10 06:02:26','2026-06-10 06:02:26'),(3,'Employee',3,'2026-06-10 06:10:50','2026-06-10 06:10:50'),(4,'HR Manager',3,'2026-06-18 10:44:06','2026-06-18 10:44:06'),(5,'Warehouse Manager',3,'2026-06-18 10:45:19','2026-06-18 10:45:19'),(6,'Finance Manager',3,'2026-06-18 10:59:02','2026-06-18 10:59:02'),(7,'Store Manager',3,'2026-06-18 11:04:23','2026-06-18 11:04:23');
/*!40000 ALTER TABLE `role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rolebaseaccess`
--

DROP TABLE IF EXISTS `rolebaseaccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rolebaseaccess` (
  `id` int NOT NULL AUTO_INCREMENT,
  `path_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `path` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `role_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_roleaccess_path` (`path`(255)),
  KEY `idx_roleaccess_role` (`role_id`),
  CONSTRAINT `rolebaseaccess_ibfk_1` FOREIGN KEY (`role_id`) REFERENCES `role` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rolebaseaccess`
--

LOCK TABLES `rolebaseaccess` WRITE;
/*!40000 ALTER TABLE `rolebaseaccess` DISABLE KEYS */;
/*!40000 ALTER TABLE `rolebaseaccess` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timemode`
--

DROP TABLE IF EXISTS `timemode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timemode` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `company_id` int NOT NULL,
  `remark` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_timemode_company` (`company_id`),
  CONSTRAINT `timemode_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timemode`
--

LOCK TABLES `timemode` WRITE;
/*!40000 ALTER TABLE `timemode` DISABLE KEYS */;
INSERT INTO `timemode` VALUES (1,'TimeIn',3,NULL,'2026-06-10 11:35:15','2026-06-10 11:35:15'),(2,'LunchOut',3,NULL,'2026-06-10 11:35:21','2026-06-10 11:35:21'),(3,'LunchIn',3,NULL,'2026-06-10 11:35:27','2026-06-10 11:35:27'),(4,'TimeOut',3,NULL,'2026-06-10 11:35:37','2026-06-10 11:35:37');
/*!40000 ALTER TABLE `timemode` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timesheet`
--

DROP TABLE IF EXISTS `timesheet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timesheet` (
  `id` int NOT NULL AUTO_INCREMENT,
  `company_id` int NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `time_in` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lunch_out` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lunch_in` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `time_out` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `require_time_in` tinyint(1) DEFAULT '1',
  `require_lunch_out` tinyint(1) DEFAULT '0',
  `require_lunch_in` tinyint(1) DEFAULT '0',
  `require_time_out` tinyint(1) DEFAULT '1',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_timesheet_company` (`company_id`),
  CONSTRAINT `timesheet_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `company` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timesheet`
--

LOCK TABLES `timesheet` WRITE;
/*!40000 ALTER TABLE `timesheet` DISABLE KEYS */;
INSERT INTO `timesheet` VALUES (1,3,'default_time','df_001','08:00','12:00','13:00','17:00',1,1,1,1,'2026-06-10 08:48:40','2026-06-10 08:48:40');
/*!40000 ALTER TABLE `timesheet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `employee_id` int DEFAULT NULL,
  `username` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_default_password` tinyint(1) NOT NULL DEFAULT '1',
  `token_version` int NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_user_employee` (`employee_id`),
  KEY `idx_user_username` (`username`),
  CONSTRAINT `user_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employee` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-25  9:41:48
